#main {
  width: 100%;
}
#main .title {
  position: relative;
}
#main .title img {
  width: 100%;
}
#main .title p {
  width: 100%;
  text-align: center;
  position: absolute;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
  top: 90px;
}
@media (width: 1024px) {
  #main .title p {
    top: 50px;
  }
}
@media (max-width: 1023px) {
  #main .title p {
    top: 50px;
  }
}
@media (max-width: 736px) {
  #main .title p {
    top: 30px;
    z-index: 4;
  }
}
#main .title p span {
  font-size: 35px;
  display: block;
  margin-bottom: 10px;
  color: #353535;
}
@media (max-width: 736px) {
  #main .title p span {
    font-size: 18px;
    margin-bottom: 5px;
  }
}
#main .title p span:nth-child(2) {
  font-size: 56px;
  color: #E60013;
}
@media (max-width: 736px) {
  #main .title p span:nth-child(2) {
    font-size: 18px;
  }
}
#main .title p span:last-child {
  color: #E60013;
}
@media (max-width: 736px) {
  #main .title p span:last-child {
    font-size: 18px;
  }
}
#main .description {
  background-color: #FFCC00;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  margin-top: -5px;
  padding-bottom: 40px;
}
@media (max-width: 1023px) {
  #main .description {
    padding-top: 40px;
  }
}
@media (max-width: 736px) {
  #main .description {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
#main .description .pet-1 {
  margin: 180px 0 0 120px;
  position: relative;
  z-index: 1;
}
@media (width: 1024px) {
  #main .description .pet-1 {
    margin: 220px 0 0 20px;
  }
}
@media (max-width: 1023px) {
  #main .description .pet-1 {
    display: none;
  }
}
#main .description .box {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  background-color: #E7F8FF;
  border-radius: 50px;
  margin-top: -470px;
  z-index: 2;
  position: relative;
}
@media (max-width: 1023px) {
  #main .description .box {
    margin-top: 0;
    width: 80%;
  }
}
@media (max-width: 736px) {
  #main .description .box {
    padding: 10px;
    width: 95%;
    border-radius: 25px;
  }
}
#main .description .box .tab {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#main .description .box .tab div {
  font-size: 21px;
  text-align: center;
  cursor: pointer;
  padding: 10px 0;
  color: #096B91;
  font-weight: 700;
  transition: 0.6s;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
@media (max-width: 736px) {
  #main .description .box .tab div {
    font-size: 16px;
  }
}
#main .description .box .tab .active {
  background-color: #00A73C;
  color: #fff;
}
#main .description .box .content {
  border: 3px solid #00A73C;
  border-radius: 0 20px 20px 20px;
  padding: 40px;
  margin-top: -1px;
  background-color: #fff;
}
@media (max-width: 736px) {
  #main .description .box .content {
    padding: 15px;
  }
}
#main .description .box .content p {
  font-size: 19px;
  font-weight: 400;
  color: #333333;
  margin-bottom: 30px;
  font-family: "Raleway", sans-serif;
}
@media (max-width: 736px) {
  #main .description .box .content p {
    font-size: 14px;
  }
}
#main .description .box .content .social {
  text-align: right;
}
#main .description .box .content .social img {
  margin-left: 15px;
}
#main .description .box .pet-2 {
  position: absolute;
  right: -56px;
  top: 259px;
  z-index: 2;
}
@media (width: 1024px) {
  #main .description .box .pet-2 {
    right: -56px;
    top: 320px;
  }
}
@media (max-width: 1023px) {
  #main .description .box .pet-2 {
    display: none;
  }
}
#main .reason .reason-title p {
  text-align: center;
  margin-top: 80px;
}
#main .reason .reason-title p span {
  font-size: 35px;
  color: #333333;
  font-weight: 700;
  display: block;
}
@media (max-width: 736px) {
  #main .reason .reason-title p span {
    font-size: 20px;
  }
}
#main .reason .reason-title p span:last-child {
  color: #E60013;
  font-weight: 900;
}
#main .reason .detail {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
@media (max-width: 1023px) {
  #main .reason .detail {
    grid-template-columns: 50% 50%;
    grid-row-gap: 30px;
  }
}
@media (max-width: 736px) {
  #main .reason .detail {
    grid-template-columns: 100%;
    grid-row-gap: 30px;
  }
}
#main .reason .detail div {
  text-align: center;
  height: 280px;
  position: relative;
}
#main .reason .detail div .img-box {
  text-align: center;
}
#main .reason .detail div p {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}
@media (max-width: 736px) {
  #main .reason .detail div p {
    font-size: 14px;
  }
}
#main .reason .detail div p span {
  display: block;
  color: #353535;
}
#main .reason .detail div p span:first-child {
  color: #E60013;
  font-weight: 700;
}
#main .reason .detail div:first-child .img-box {
  margin-top: -30px;
}
#main .reason .detail div:nth-child(2) p span:first-child {
  color: #353535;
  font-weight: 500;
}
#main .reason .detail div:nth-child(2) p span:nth-child(2) {
  color: #E60013;
  font-weight: 700;
}
#main .video {
  margin-top: 80px;
}
#main .video .video-title {
  font-size: 35px;
  color: #333333;
  margin-bottom: 40px;
  text-align: center;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}
@media (max-width: 736px) {
  #main .video .video-title {
    font-size: 20px;
  }
}
#main .picture {
  margin-top: 40px;
  padding-bottom: 40px;
  padding-top: 40px;
}
@media (width: 1024px) {
  #main .picture {
    background-color: #f5f5f5;
  }
}
@media (max-width: 1023px) {
  #main .picture {
    background-color: #f5f5f5;
  }
}
#main .picture .picture-title {
  font-size: 35px;
  color: #333333;
  margin-bottom: 40px;
  text-align: center;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}
@media (max-width: 736px) {
  #main .picture .picture-title {
    font-size: 20px;
  }
}
#main .picture .picture-box {
  display: grid;
  grid-gap: 10px;
  width: 90%;
  padding: 0 30px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 736px) {
  #main .picture .picture-box {
    padding: 0 15px;
  }
}
#main .picture .picture-box img {
  width: 100%;
}
#main .picture .picture-box .pic-1 {
  grid-column: 1/span 2;
  grid-row: 1/span 2;
}
@media (max-width: 736px) {
  #main .picture .picture-box .pic-1 {
    grid-column: 1/span 4;
    grid-row: 1/span 2;
  }
}
#main .picture .picture-box .pic-2 {
  grid-column: 3;
  grid-row: 1;
}
@media (max-width: 736px) {
  #main .picture .picture-box .pic-2 {
    grid-column: 1/span 2;
    grid-row: 3;
  }
}
#main .picture .picture-box .pic-3 {
  grid-column: 3;
  grid-row: 2;
}
@media (max-width: 736px) {
  #main .picture .picture-box .pic-3 {
    grid-column: 3/span 2;
    grid-row: 3;
  }
}
#main .picture .picture-box .pic-4 {
  grid-column: 1;
  grid-row: 3;
}
@media (max-width: 736px) {
  #main .picture .picture-box .pic-4 {
    grid-column: 1/span 4;
    grid-row: 4/span 2;
  }
}
#main .picture .picture-box .pic-5 {
  grid-column: 2;
  grid-row: 3;
}
@media (max-width: 736px) {
  #main .picture .picture-box .pic-5 {
    grid-column: 1/span 2;
    grid-row: 6;
  }
}
#main .picture .picture-box .pic-6 {
  grid-column: 3;
  grid-row: 3;
}
@media (max-width: 736px) {
  #main .picture .picture-box .pic-6 {
    grid-column: 3/span 2;
    grid-row: 6;
  }
}
#main .register {
  width: 100%;
  background-image: url("../../../images/bg-2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
}
@media (width: 1024px) {
  #main .register {
    background-image: none;
  }
}
@media (max-width: 1023px) {
  #main .register {
    background-image: none;
  }
}
@media (max-width: 736px) {
  #main .register {
    padding: 40px 0;
  }
}
#main .register .register-form {
  display: grid;
  grid-template-columns: 42% 58%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #00A73C;
  border-radius: 28px;
  background-color: #fff;
}
@media (width: 1024px) {
  #main .register .register-form {
    grid-template-columns: 0 100%;
    border: none;
  }
}
@media (max-width: 1023px) {
  #main .register .register-form {
    grid-template-columns: 0 100%;
    border: none;
    width: 90%;
  }
}
#main .register .register-form .pic {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  background-image: url("../../../images/bg-3.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
#main .register .register-form .form .form-title {
  margin-top: 40px;
}
#main .register .register-form .form .form-title p {
  font-size: 35px;
  color: #00A73C;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
@media (max-width: 736px) {
  #main .register .register-form .form .form-title p {
    font-size: 20px;
  }
}
#main .register .register-form .form .input {
  display: grid;
  margin: 30px 20px;
  grid-column-gap: 15px;
  grid-row-gap: 20px;
}
@media (max-width: 736px) {
  #main .register .register-form .form .input {
    margin: 30px 0;
    grid-column-gap: 5px;
  }
}
#main .register .register-form .form .input input {
  border-radius: 24px;
  background-color: #F2FBFF;
  padding: 12px 20px;
  border: none;
  font-size: 14px;
}
@media (width: 1024px) {
  #main .register .register-form .form .input input {
    padding: 20px;
  }
}
@media (max-width: 1023px) {
  #main .register .register-form .form .input input {
    padding: 20px;
  }
}
@media (max-width: 736px) {
  #main .register .register-form .form .input input {
    width: 100%;
    padding: 12px 20px;
  }
}
#main .register .register-form .form .input .input-1 {
  grid-column: 1/span 4;
}
#main .register .register-form .form .input .input-2 {
  grid-column: 1/span 2;
  grid-row: 2;
}
@media (max-width: 736px) {
  #main .register .register-form .form .input .input-2 {
    grid-column: 1/span 4;
  }
}
#main .register .register-form .form .input .input-3 {
  grid-column: 3/span 2;
  grid-row: 2;
}
@media (max-width: 736px) {
  #main .register .register-form .form .input .input-3 {
    grid-column: 1/span 4;
    grid-row: 3;
  }
}
#main .register .register-form .form .input .input-4 {
  grid-column: 1/span 4;
  grid-row: 3;
}
@media (max-width: 736px) {
  #main .register .register-form .form .input .input-4 {
    grid-row: 4;
  }
}
#main .register .register-form .form .input .input-5 {
  grid-column: 1/span 2;
  grid-row: 4;
}
@media (max-width: 736px) {
  #main .register .register-form .form .input .input-5 {
    grid-column: 1/span 4;
    grid-row: 5;
  }
}
#main .register .register-form .form .input .input-6 {
  grid-column: 3/span 2;
  grid-row: 4;
}
@media (max-width: 736px) {
  #main .register .register-form .form .input .input-6 {
    grid-column: 1/span 4;
    grid-row: 6;
  }
}
#main .register .register-form .form .input .input-7 {
  grid-column: 1/span 4;
  grid-row: 5;
}
@media (max-width: 736px) {
  #main .register .register-form .form .input .input-7 {
    grid-column: 1/span 4;
    grid-row: 7;
  }
}
#main .register .register-form .form .input .input-8 {
  grid-column: 1/span 4;
  grid-row: 6/span 7;
}
@media (max-width: 736px) {
  #main .register .register-form .form .input .input-8 {
    grid-row: 8/span 9;
  }
}
#main .register .register-form .form .input ::placeholder {
  font-family: "Roboto", sans-serif;
  color: #828282;
}
#main .register .register-form .form .describe {
  width: 55%;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 736px) {
  #main .register .register-form .form .describe {
    width: 80%;
  }
}
#main .register .register-form .form .describe p {
  color: #828282;
}
@media (max-width: 736px) {
  #main .register .register-form .form .describe p {
    font-size: 15px;
  }
}
#main .register .register-form .form .describe p a {
  text-decoration: none;
  color: #000;
}
#main .register .register-form .form .register-button {
  margin: 20px auto 40px;
  width: fit-content;
}
@media (max-width: 736px) {
  #main .register .register-form .form .register-button {
    margin: 20px auto 0;
  }
}
#main .register .register-form .form .register-button a {
  background-color: #00A73C;
  border-radius: 32px;
  padding: 12px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main .register .register-form .form .register-button a span {
  margin: 0 5px;
  font-size: 19px;
  font-weight: 700;
  display: flex;
}
@media (max-width: 736px) {
  #main .register .register-form .form .register-button a span {
    font-size: 16px;
  }
}
#main .register .register-form .form .register-button a span img {
  width: 30px;
}
@media (max-width: 736px) {
  #main .register .register-form .form .register-button a span img {
    width: 20px;
  }
}

/*# sourceMappingURL=main.css.map */
