.custom-select {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #F2FBFF;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 16px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #00A73C transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #00A73C transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #828282;
  padding: 12px 20px;
  border: none;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
  border-radius: 24px;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #F2FBFF;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 24px;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

@media (width: 1024px) {
  .select-items div,.select-selected {
    padding: 20px 20px;
  }
  .select-selected:after {
    top: 23px;
    right: 10px;
  }
}

@media (max-width: 1023px) {
  .select-items div,.select-selected {
    padding: 20px;
  }
  .select-selected:after {
    top: 23px;
    right: 10px;
  }
}

@media (max-width: 736px) {
  .select-items div,.select-selected {
    padding: 12px 20px;
  }
  .select-selected:after {
    top: 16px;
    right: 10px;
  }
}
